---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
     {% if site.title == blank %}{{ site.title }}{% else %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}  {{ site.last_name }}{% endif %}
    </h1>
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
        <img class="img-fluid z-depth-1 rounded" style="margin-bottom: 20px;" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      {% endif %}
      {% if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}

    <div class="publications">
      <h2>Recent Projects</h2>
      <hr>

      {% assign sorted_projects = site.projects | sort: "importance" | where:"featured",true%}
      {% include project_grid.html %}
    </div>

    {% for pp in site.pages %}
      {% if pp.title =="projects"%}
        {% comment %} seems like an easiest way to get projects url without hardcoding {% endcomment %}
        <div class="text-center mt-3 mb-5"><a href="{{pp.url}}">See more projects</a></div>
      {%endif%}
    {% endfor %}

    {% if page.social %}
    <div class="social mt-4">
      {% include social.html %}
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>
